{% trans_default_domain 'DukecityCommandScheduler' %}
<!DOCTYPE html>
<html lang="{{ app.request.attributes.get('_locale', 'en') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Command Scheduler</title>
    <link href="{{ asset('bundles/dukecitycommandscheduler/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dukecitycommandscheduler/css/bootstrap-theme.min.css') }}" rel="stylesheet">
</head>
<body>
{% include '@DukecityCommandScheduler/Navbar/navbar.html.twig' %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{% block title %}{% endblock title %}</h2>

                {# Succes flash messages #}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {# Errors flash messages #}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block content %}{% endblock content %}
            </div>
        </div>
        <hr>
    </div>
</div><!-- /container -->

<script type="text/javascript" src="{{ asset('bundles/dukecitycommandscheduler/js/jquery-3.5.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/dukecitycommandscheduler/js/jquery-migrate-1.4.1.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/dukecitycommandscheduler/js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/dukecitycommandscheduler/js/bootstrap-tooltip.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/dukecitycommandscheduler/js/bootstrap-confirmation.min.js') }}"></script>

<script type="text/javascript">
    // Enable bootstrap-confirmation (https://bootstrap-confirmation.js.org/)
    $(document).ready(function () {

        $('[data-toggle="confirmation"]').confirmation({
            singleton: true,
            popout: true,
            placement: 'left',
            btnOkClass: 'btn btn-danger',
            //btnOkClass: 'btn btn-sm btn-danger', //Bootstrap 4
            btnCancelLabel: 'Cancel',
            btnCancelClass: 'btn btn-default'
            //btnCancelClass: 'btn btn-sm btn-secondary', //Bootstrap 4
        });
    });
</script>
</body>
</html>
