{% extends "@DukecityCommandScheduler/layout.html.twig" %}
{% trans_default_domain 'DukecityCommandScheduler' %}

{% block title %}
    {{ 'list.title'|trans }}
{% endblock title %}

{% block content %}

<div class="card">
    <div class="card-header">{{ 'list.title'|trans }}</div>
    <div class="card-body">
    <table id="duketown-cronjobs" class="table table-striped table-hover table-bordered" style="width:100%">
        <thead>
            <tr>
                <th data-searchable="false" data-orderable="false">&nbsp;</th>
                <th data-searchable="true" data-orderable="true">{{ "detail.name"|trans }}</th>
                <th data-searchable="true" data-orderable="true">{{ "detail.command"|trans }}</th>
                <th data-searchable="false" data-orderable="false">{{ "detail.cronExpression"|trans }}</th>
                <th data-searchable="true" data-orderable="false">{{ "detail.logFile"|trans }}</th>
                <th data-searchable="false" data-orderable="true">{{ "detail.lastExecution"|trans }}</th>
                <th data-searchable="false" data-orderable="true">{{ "detail.nextRun"|trans }}</th>
                <th data-searchable="false" data-orderable="true" class="text-right">{{ "detail.priority"|trans }}</th>
                <th data-searchable="false" data-orderable="false" class="text-right">{{ "detail.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for command in scheduledCommands %}
            <tr {% if command.disabled == true %}class="text-muted" {% endif %}>
                <td {% if command.disabled == false %}data-search="active" data-order="0"{% else %}data-search="deactive" data-order="1"{% endif %}>
                    <a href="{{ path('dukecity_command_scheduler_action_toggle', {'id': command.id}) }}"
                       data-toggle="confirmation" data-btn-ok-label="{{ "action.unlock"|trans }}" data-title="{{ "confirm.unlock"|trans }}">
                    {% if command.disabled == true %}
                        <i class="bi bi-power text-danger" title="Activate command"></i>
                    {% else %}
                        <i class="bi bi-power text-success" title="Deativate command"></i>
                    {% endif %}
                    </a>
                </td>
                <td data-search="{{ command.name }}" data-order="{{ command.name }}">
                    <span style="font-size:14px;" {% if command.disabled == false %}
                            class="badge badge-success" title="Command is active"
                            {% else %}
                            class="badge badge-danger" title="Command is disabled"
                            {% endif %}>
                    {{ command.name }}
                    </span>
                </td>
                <td>
                    {{ command.command }} {{ command.arguments }}
                </td>
                <td>
                    {{ command.cronExpression }}
                </td>
                <td>
                    {{ command.logFile }}
                </td>
                <td>
                    <span style="font-size:14px;" class="badge badge-{% if command.lastReturnCode == 0 %}success{% else %}danger{% endif %}" title="Last Return Code: {{ command.lastReturnCode }}">
                    {{ command.lastExecution is empty ? "" : command.lastExecution|date( "dateFormat"|trans ) }}
                    </span>
                </td>
                <td>
                    {% set nextRunDate = command.getNextRunDate() %}
                    {% if nextRunDate is not null %}
                    {{ nextRunDate|date( "dateFormat"|trans ) }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {{ command.priority }}
                </td>
                <td style="min-width: 90px;" class="action-container text-right">
                    {% if command.locked == true %}
                        <a href="{{ path('dukecity_command_scheduler_action_unlock', {'id': command.id}) }}"
                           data-toggle="confirmation"
                           data-btn-ok-label="{{ "action.unlock"|trans }}"
                           data-title="{{ "confirm.unlock"|trans }}" >
                            <i class="bi bi-lock-fill text-danger" title="{{ "action.unlock"|trans }}"></i>
                        </a>
                    {% else %}
                       <div style="display: inline-block;"> </div>
                    {% endif %}
                    <a href="{{ path('dukecity_command_scheduler_detail_edit', {'id': command.id}) }}" >
                        <i class="bi bi-pencil-square" title="{{ "action.edit"|trans }}"></i>
                    </a>
                    <a href="{{ path('dukecity_command_scheduler_action_remove', {'id': command.id}) }}"
                       data-toggle="confirmation"
                       data-btn-ok-label="{{ "action.delete"|trans }}"
                       data-title="{{ "confirm.delete"|trans }}" >
                        <i class="bi bi-trash-fill text-danger" title="{{ "action.delete"|trans }}"></i>
                    </a>
                    <a href="{{ path('dukecity_command_scheduler_action_execute', {'id': command.id}) }}"
                       data-toggle="confirmation"
                       data-btn-ok-label="{{ "action.execute"|trans }}"
                       data-title="{{ "confirm.execute"|trans }}"
                    >
                        <i class="bi bi-file-play text-{% if command.executeImmediately == true %}muted{% else %}success{% endif %}" title="{{ "action.execute"|trans }}"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    <div class="card-footer">
    <a href="{{ path('dukecity_command_scheduler_detail_new') }}" class="btn btn-primary float-right" role="button">{{ "action.new"|trans }} »</a>
    </div>
</div>
    {% endblock content %}


{% block javascript %}
$(document).ready(function() {

    $('#duketown-cronjobs').DataTable( {
        stateSave: true,
        dom: 'Bfrtip',
        buttons: [
            'colvis'
        ],
        /*rowGroup: {
            dataSrc: 1
        },*/
        order: [[ 6, "desc" ], [ 7, "desc" ]],
        columnDefs: [
            {
                "targets": [ 4 ],
                "visible": false,
                "searchable": false
            }
        ],
        paging: false,
        ordering: true,
        info: false,
        search: false,
        responsive: true
    } );
} );
{% endblock javascript %}

