{% extends "@DukecityCommandScheduler/layout.html.twig" %}
{% trans_default_domain 'DukecityCommandScheduler' %}
{# % form_theme form 'bootstrap_4_layout.html.twig' %} #}

{% block title %}
    {{ 'detail.title'|trans }}
{% endblock title %}

{% block content %}

    {% set styleConfiguration = {'class': 'form-control'} %}
<div class="card">
    {{ form_start( scheduledCommandForm) }}
    <div class="card-header">{{ 'list.title'|trans }}</div>
    <div class="card-body">

        <div class="row">
        <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header text-white bg-secondary">
                Command
            </div>
            <div class="card-body">
                {{ form_row( scheduledCommandForm.name, {'attr': styleConfiguration|merge({'placeholder': 'name'}) } ) }}

                {{ form_row( scheduledCommandForm.logFile, {'attr': styleConfiguration|merge({'placeholder': 'myFile.log'}) } ) }}
                {{ form_row( scheduledCommandForm.priority, {'attr': styleConfiguration } ) }}
                <div>
                    {{ form_row(scheduledCommandForm.executeImmediately, {label_attr: {class: 'checkbox-custom'} }) }}
                </div>
                <div>
                    {{ form_row(scheduledCommandForm.disabled, {label_attr: {class: 'checkbox-custom'} }) }}
                </div>
            </div>
        </div>
        </div>

        <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header text-white bg-secondary">
                Command
            </div>
            <div class="card-body">
                {# Form's fields #}
                {{ form_row( scheduledCommandForm.command, {'attr': {'class': 'form-control select2'} } ) }}
                {{ form_row( scheduledCommandForm.arguments, {'attr': styleConfiguration|merge({'placeholder': '--argument1=foo --bar'}) } ) }}
                {{ form_row( scheduledCommandForm.cronExpression, {'attr': styleConfiguration|merge({'placeholder': '*/10 * * * *'}) } ) }}
            </div>
        </div>
        </div>
        </div>

    </div>
    <div class="card-footer">
        {# Form's actions #}
        <div class="">
            <a href="{{ path('dukecity_command_scheduler_list') }}" class="btn btn-danger btn-lg float-left" role="button">{{ 'action.cancel'|trans }}</a>
            {{ form_row( scheduledCommandForm.save, {'attr': {'class': 'btn btn-success btn-lg float-right'} } ) }}
        </div>
    </div>
    {{ form_end( scheduledCommandForm ) }}
</div>
{% endblock content %}

{% block javascript %}
    $(document).ready(function() {
        $('.select2').select2();
    });
{% endblock javascript %}